<div class="col-4 text-center">
  <h2 class="blog-post-title">Twiksnews</h2>
</div>

<div class="col-4 d-flex justify-content-end align-items-center">
<% if user_signed_in? %>

    <%= link_to('Edit registration', edit_user_registration_path, class:"btn btn-sm btn-outline-secondary") %>
    <% if policy(User).fetch_news? %>
    <%= link_to('Update News', news_fetchers_fetch_news_path,  class:"btn btn-sm btn-outline-secondary" ) %>
    <% end %>
    <% if policy(User).update? %>
    <%= link_to('Update Sources', news_fetchers_fetch_sources_path,  class:"btn btn-sm btn-outline-secondary" ) %>
  <% end %>
<% else %>

    <%= link_to('Register', new_user_registration_path,class:"btn btn-sm btn-outline-secondary") %>

<% end %>
  </div>
