<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>
<%= link_to 'Edit', edit_source_path(@source) , class:"btn btn-sm btn-outline-secondary" %>
<%= link_to 'Back', sources_path , class:"btn btn-sm btn-outline-secondary" %>