<h2>Users</h2>
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Role</th>
    <th colspan="10"></th>
    <th colspan="10"></th>
  </tr>

  <tr>
    <%  @users.each do |user| %>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.role %></td>
      </tr>
    <%end %>
    </tr>
    </table>