<p>
  <strong>Name:</strong>
  <%= @news_source.name %>
</p>
<%= link_to 'Edit', edit_news_source_path(@news_source) , class:"btn btn-sm btn-outline-secondary" %>
<%= link_to 'Back', news_sources_path , class:"btn btn-sm btn-outline-secondary" %>