The following new results are available for your subscribed sources:

----------------------------------------------------
  ----------------------------------------------------
  <% @articles.each do |p| %>
  <li>
    <%= "#{p.title}\n" -%>
    <%= "#{p.url}\n" -%>
  </li>
    ....................................................
  <% end %>
  ----------------------------------------------------

